@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F8F8F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: poppins;
}

p {
    margin: 0;
    padding: 0;
}

img {
    height: 35%;
    width: 35%;
}

.panel_div {
    height: 100vh;
    width: 8%;
    background-color: #051F38;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    font-weight: 300;
}

    .panel_logo {
        height: 15vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .panel_logo img {
            height: 50%;
            width: 50%;
        }

    .panel_main {
        height: 7.5vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .panel_pacjenci {
        height: 7.5vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .panel_wizyty {
        height: 7.5vh;
        width: 100%;
        margin-bottom: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .panel_wyloguj {
        height: 7.5vh;
        width: 100%;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .panel_current {
        color: #9ED3C3;
        position: relative;
    }

    .panel_current::after{
        content: "";
        position: absolute;
        right: 0;
        width: 4px;
        height: 80%;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background-color: #9ED3C3;
    }

.content_div {
    height: 100vh;
    width: 86%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}

    .content_banner {
        width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

        .banner_name {
            height: 100%;
            width: 15%;
            color: #5485D1;
            font-size: 18px;
            display: flex;
            align-items: center;
        }

        .banner_search {
            height: 100%;
            width: 30%;
            margin-right: 35%;
            display: flex;
            align-items: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
        }

            .banner_search_field {
                height: 28%;
                width: 80%;
                border-radius: 20px;
                border: 0;
                padding-left: 3%;
                outline: none;
            }
            .banner_search_field::-webkit-search-cancel-button {
                -webkit-appearance: none;
                appearance: none;
            }
                .search_img {
                    height: 28%;
                    width: 15%;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: 17%;
                }

                .search_img img {
                    height: 50%;
                    width: 50%;
                }

            .banner_filter {
                height: 28%;
                width: 12%;
            }
            .banner_filter img {
                height: 100%;
                width: 100%;
            }
            

        .banner_user {
            height: 70%;
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
            .banner_user_data {
                height: 100%;
                width: 80%;
                display: flex;
                flex-direction: column;
            }
                .banner_user_login {
                    height: 50%;
                    width: 100%;
                    color: #051F38;
                    font-weight: 500;
                    font-size: 14px;
                    display: flex;
                    align-items: end;
                    justify-content: right;
                }
                .banner_user_spec {
                    height: 50%;
                    width: 100%;
                    color: #051F38;
                    font-weight: 400;
                    font-size: 14px;
                    display: flex;
                    align-items: start;
                    justify-content: right;
            }
            .banner_user_pic {
                height: 80%;
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
                .banner_user_pic_img {
                    height: 80%;
                    width: 80%;
                }

    .content_field {
        width: 100%;
        height: calc(85vh - (0.92*3vw));
        display: flex;
    }