.banner_search {
    display: none;
}

.content_szczegoly_wizyty {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    font-size: 1.8vh;
}

.content_top {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #051F38;
    position: relative;
}

.content_top::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    background-color: #f3f3f3;
}
    
    .content_top_left {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

        .szczegoly_dane {
            display: flex;
            flex-direction: row;
            font-weight: 300;
        }

        .szczegoly_dane p {
            margin-left: 5px;
            font-weight: 500;
        }

        .szczegoly_dane:nth-of-type(3) {
            margin-bottom: 5%;
        }

    .content_top_right {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
    }

        .szczegoly_avatar {
            height: 50%;
            width: 11%;
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

            .szczegoly_avatar img {
                height: 100%;
                width: 90%;
            }

        .szczegoly_dane_osobowe1 {
            height: 100%;
            width: 40%;
        }

            .szczegoly_dane_os {
                display: flex;
                flex-direction: row;
                font-weight: 300;
            }

            .szczegoly_dane_os:nth-of-type(3) {
                width: fit-content;
                padding-left: 4px;
                padding-right: 4px;
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #9ED3C3;
                border-radius: 5px;
                display: flex;
                justify-content: center;
            }
            
                .szczegoly_dane_os:nth-of-type(3):hover {
                    cursor: pointer;
                }

            .szczegoly_dane_os:nth-of-type(4) {
                margin-top: 15%;
            }

            .szczegoly_dane_os p {
                margin-left: 5px;
                font-weight: 500;
            }

            .szczegoly_dane_os img {
                height: 7%;
                width: 7%;
                margin-left: 3%;
            }

        .szczegoly_dane_osobowe2 {
            height: 100%;
            width: 45%;
            margin-left: 5%;
        }

            .szczegoly_dane_squares {
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
                .szczegoly_dane_os2 {
                height: 90%;
                aspect-ratio: 1/1;
                border-radius: 10px;
                background-color: #f3f3f3; 
                font-weight: 500; 
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 1.8vh;
                }

                .szczegoly_dane_os2 p {
                    font-weight: 300;  
                }

            .sczegoly_dane_profil_button {
                height: 50%;
                width: 100%;
                display: flex;
                justify-content: end;
                align-items: center;
            }

.content_middle {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .content_middle_side {
        height: 100%;
        width: 48%;
    }

        .content_middle_title {
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            font-weight: 500;
            font-size: 2.5vh;
        }

        .content_middle_text {
            height: 80%;
            width: 100%;
        }

            .content_middle_textfield {
                height: 100%;
                width: 100%;
                border-color: #051F38;
                border-radius: 20px;
                border-width: 1px;
                padding: 2vh;
                box-sizing: border-box;
                padding-bottom: 30vh;
                outline: none;
            }

.content_bottom {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content_bottom .button {
    width: 16vh;
}